._*
wp-config.php
/public_html/wp-content/themes/twentyseventeen/functions/vendor/*
/public_html/wp-content/themes/twentyseventeen/public/*
/public_html/wp-content/themes/twentyseventeen/functions/generated/assets-css*
/public_html/wp-content/themes/twentyseventeen/functions/generated/assets-js*
/public_html/wp-content/themes/twentyseventeen/assets/js/vendor/modernizr/*
/public_html/wp-content/themes/twentyseventeen/functions/generated/assets-css_production.php
/public_html/wp-content/themes/twentyseventeen/functions/generated/assets-js_both.php
/public_html/wp-content/themes/twentyseventeen/functions/generated/assets-js.php
/public_html/wp-content/uploads/*
/public_html/wp-content/log/wprss/*
/developer/node_modules

